* {
  box-sizing: border-box;
  color: #fff;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: #141520 !important;
  max-width: 100vw;
  min-height: 100vh;
}

.navbar {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.navbar-brand {
  color: #fff !important;
  margin: 0 !important;
  padding: 1rem !important;
  margin-left: 2rem !important;
}

.navbar-brand:hover {
  background-color: #20212c;
  text-decoration: underline;
}

.container-fluid {
  padding: 0px !important;
}

.nav-link {
  color: #fff !important;
}

.nav-link:hover {
  text-decoration: underline !important;
}

.navbar-nav {
  max-width: fit-content;
}

#navbarSupportedContent {
  width: 100%;
}

.navbar-toggler {
  border-radius: 0px !important;
  padding: 1rem 1rem !important;
}

.navbar-toggler:hover {
  background-color: #20212c !important;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0rem !important;
}

.burger {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 30px;
  height: 30px;
  padding: 5px;
  display: flex;
}

.burger-line {
  background-color: #fff;
  width: 20px;
  margin-top: 4px;
  margin-bottom: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.burger-line.bl-mid {
  width: 15px;
}

#hero-section {
  height: 80vh;
  background-image: radial-gradient(circle farthest-side at 50% 150%, rgba(68, 84, 254, .1), rgba(68, 84, 254, 0) 75%);
  color: #fff;
}

.button-container {
  display: flex;
}

.button {
  display: block;
  padding: 10px;
  text-align: center;
  border-radius: 50px;
  color: white;
  line-height: 25px;
  padding: 5px;
  text-decoration: none;
  background-image: linear-gradient(120deg, #693834,#282c67);
}

.button:hover {
  background-image: linear-gradient(113deg, #ff6f4c, #4454fe);
}

.button-arrow {
  width: 12px;
  height: 12px;
}

.button-content {
  display: flex;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  align-items: center;
  padding: 20px 25px;
  font-family: Anek Malayalam, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1em;
  text-decoration: none;
}

.section-tag-line {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, .8));
  flex: 1;
  height: 1px;
  margin-left: 20px;
}

#services {
  padding-left: 5vw;
  padding-right: 5vw;
}

.service-cards-wrapper {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: wrap;
  justify-content: space-around;
  max-width: 1400px;
  display: flex;
  column-count: 3;
}

.service-card {
  background-color: rgba(68, 84, 254, 0);
  background-image: linear-gradient(144deg, rgba(255, 111, 76, .14), rgba(68, 84, 254, .14));
  padding: 1.5rem;
  transition: all .4s;
  flex: 0 1 calc(33.333% - 20px);
  box-sizing: border-box;
}

.service-card-title {
  color: #fff;
  min-height: 2em;
  margin-bottom: 5px;
  font-family: Anek Malayalam, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1em;
  display: block;
  position: static;
}

.heading {
  color: #fff;
  margin-top: 2px;
  margin-bottom: 5px;
}

.service-card-paragraph {
  min-height: 8em;
  margin-bottom: 15px;
}

.service-card-list {
  margin-bottom: 0;
  line-height: 1.7em;
}

.slider-section-wrapper.glow-1 {
  background-image: radial-gradient(circle closest-corner at 0%, rgba(255, 111, 76, .1), rgba(255, 111, 76, 0) 95%);
}

.slider-section-wrapper {
  justify-content: center;
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
}

.slider-section-container {
  flex: 1;
  max-width: 1400px;
  padding-top: 125px;
}

.section-tag-container {
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
  align-items: center;
  width: 100%;
  margin-bottom: 60px;
  font-family: Anek Malayalam, sans-serif;
  font-size: 11px;
  line-height: 1em;
  display: flex;
}

.section-tag-line {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, .8));
  flex: 1;
  height: 1px;
  margin-left: 20px;
}

.project-slider {
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
  height: 100%;
}

.w-slider {
  text-align: center;
  clear: both;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 300px;
  position: relative;
}

.w-slide {
  vertical-align: top;
  white-space: normal;
  text-align: left;
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
}

.w-slider-mask {
  z-index: 1;
  white-space: nowrap;
  height: 100%;
  display: block;
  position: relative;
  left: 0;
  right: 0;
  overflow: hidden;
}

.project-slider {
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
  height: 100%;
}

.section-tag-container {
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
  align-items: center;
  width: 100%;
  margin-bottom: 60px;
  font-family: Anek Malayalam, sans-serif;
  font-size: 11px;
  line-height: 1em;
  display: flex;
}

section, summary {
  display: block;
}

.project-info-container {
  grid-row-gap: 20px;
  flex-direction: column;
  align-items: flex-start;
  width: 42%;
  max-width: 520px;
  line-height: 1.6em;
  display: flex;
}

.project-title {
  margin-top: 0;
  margin-bottom: 10px;
}

.project-tag-container {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  flex-wrap: wrap;
  line-height: 1em;
  display: flex;
}

.project-tag {
  color: #fff;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, .1);
  align-items: center;
  padding: 10px 12px;
  font-family: Anek Malayalam, sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 1em;
  display: flex;
}

.project-description {
  margin-bottom: 30px;
  font-weight: 300;
}

p {
  color: #e2e2e2;
  margin-bottom: 10px;
  font-family: Anek Malayalam, sans-serif;
  font-weight: 400;
  line-height: 1.6em;
}

.project-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.project-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.project-image-container {
  width: 42vw;
  height: auto;
}

.section-container.contact {
  padding-top: 125px;
  padding-bottom: 245px;
}

.section-container {
  flex: 1;
  max-width: 1400px;
}

#Get-in-touch {
  padding-left: 5vw;
  padding-right: 5vw;
}

.contact-content-container {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
}

.section-title-container {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  color: #fff;
  flex-direction: column;
  width: 46%;
  max-width: 450px;
  font-family: Anek Malayalam, sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.6em;
  display: flex;
}

.contact-form-container {
  grid-row-gap: 5px;
  flex-direction: column;
  width: 50%;
  display: flex;
}

.form-block {
  flex: 1;
}

.w-form {
  margin: 0 0 15px;
}

.form {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.success-message {
  color: #fff;
  background-color: rgba(221, 221, 221, .05);
  height: 100%;
  font-family: Anek Malayalam, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3em;
}

.div-block {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.field-container {
  width: 100%;
  margin-bottom: 40px;
}

.field-label {
  color: var(--silver);
  margin-bottom: 10px;
  font-family: Anek Malayalam, sans-serif;
  font-weight: 300;
  line-height: 1em;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  display: block;
}

.w-input, .w-select {
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 100%;
  height: 38px;
  margin-bottom: 10px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857;
  display: block;
}

input {
  line-height: normal;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

.textarea {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 1px #000;
  border-bottom: 1px solid rgba(255, 255, 255, .6);
  min-height: 100px;
  padding-left: 0;
  padding-right: 0;
  font-family: Anek Malayalam, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2em;
}

textarea {
  overflow: auto;
}

.error-message {
  color: #9e5847;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 20px;
  padding: 0;
  font-family: Anek Malayalam, sans-serif;
  line-height: 1.3em;
}

.w-form-fail {
  background-color: #ffdede;
  margin-top: 10px;
  padding: 10px;
  display: none;
}

.text-field {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: 1px #000;
  border-bottom: 1px solid rgba(255, 255, 255, .6);
  border-radius: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  font-family: Anek Malayalam, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1em;
}

.w-form-done {
  text-align: center;
  background-color: #ddd;
  padding: 20px;
  display: none;
}

element.style {
  will-change: transform;
  transform: translate3d(-0.00024vw, -0.000216vh, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

.button-1 {
  background-image: linear-gradient(113deg, #ff6f4c, #4454fe);
  border-radius: 50px;
  padding: 2px;
  text-decoration: none;
  transition-duration: .4s;
}

input.w-button {
  -webkit-appearance: button;
}

.w-button {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  background-color: #3898ec;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}

.submit-button {
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(120deg, var(--brown), var(--midnight-blue));
  color: #fff;
  border-radius: 50px;
  padding: 20px 25px;
  font-family: Anek Malayalam, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1em;
}

input {
  line-height: normal;
}

.footer-wrapper {
  background-color: rgba(255, 255, 255, .05);
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-top: -120px;
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
}

.footer-container {
  color: #fff;
  flex: 1;
  justify-content: space-between;
  max-width: 1400px;
  font-family: Anek Malayalam, sans-serif;
  font-size: 12px;
  display: flex;
}

.home.footer.w--current {
  font-size: 18px;
}
.home {
  color: #fff;
  font-family: Anek Malayalam, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1em;
  text-decoration: none;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}
a {
  color: #fff;
  font-weight: 400;
  text-decoration: underline;
  transition: all .2s;
  background-color: rgba(0, 0, 0, 0);
}

.site-name-text-span {
  font-weight: 400;
}